.feynman {
  margin: 0;
  padding: 100px 0 0;
  box-sizing: border-box;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}