.kaufman__triangle {
  margin: 0;
  padding: 0;
  width: 877px;
  height: 877px;
  position: absolute;
  z-index: 1;
  right: -210px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}